# Credenciales de Base de Datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_fiis_investigacion
DB_USER=postgres
DB_PASSWORD=         # Definir tu contraseña aquí

# Configuración de Seguridad y JWT
JWT_SECRET=mi-clave-secreta-super-segura-de-al-menos-256-bits-para-hmac-sha256-fiis
APP_FRONTEND_URL=http://localhost:3000

# Configuración de Correo (SMTP) — reemplaza con tus credenciales reales
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=tu_correo@gmail.com
SPRING_MAIL_PASSWORD=tu_password_de_aplicacion
APP_MAIL_MOCK=true
APP_MAIL_FROM=tu_correo@gmail.com
